&--title {
    margin: 1rem 0;
    font-size: 1.5rem;
}

&__content.cart {
    width: 60vw;
    max-width: 1200px;
    padding: 0;
    flex-direction: row;
    gap: 1rem;
    margin: 0 20px 40px 20px;

    .content__table {
        width: 70%;
        height: 100%;
        border-collapse: collapse;

        .table__head {

            .head__row {

                .head__row--tag {
                    border-bottom: 2px solid #ededed;
                    padding: 9px 12px;
                    text-align: center;
                }
            }
        }

        .table__body {
            
            .body__row {

                .row__item {
                    border-top: 1px solid #ededed;
                    padding: 5px 5px;
                    
                    .item__productoInfo {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-left: 10px;

                        i::before {
                            font-size: 1.25rem;
                            color: red;
                            cursor: pointer;
                        }

                        .productoInfo__link {
                            display: flex;
                            align-items: center;
                            text-decoration: none;

                            &--img {
                                height: 140px;
                                margin: 0 10px;
                            }

                            &--title {
                                color: black;
                                font-weight: 700;
                            }
                        }
                    }

                    &--precio {
                        font-weight: 700;
                    }

                    .item__unidades {
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        &--boton {
                            height: 30px;
                            width: 30px;
                            @include flex-center(row);
                            padding: 0;
                            border: 1px solid rgba(0, 0, 0, 0.15);
                            transition: $transition-4s;
                            cursor: pointer;
    
                            &:hover {
                                background-color: lightgray;
                            }
    
                            &::after,
                            &::before {
                                content: '';
                                width: 12px;
                                height: 4px;
                                background-color: black;
                                position: absolute;
                            }
    
                            &.sumar::before {
                                transform: rotate(90deg);
                            }
                        }
                        
                        &--cantidad {
                            width: 30px;
                            height: 30px;
                            @include flex-center(row);
                            border-top: 1px solid rgba(0, 0, 0, 0.15);
                            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                        }
                    }

                    &--subtotal {
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .content__resumen {
        margin-top: 1rem;
        width: 30%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #F9F9F9;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        padding: 1rem 1rem;

        .resumen--title {
            margin-top: 9px;
            font-size: 1rem;
        }

        .resumen__bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 20px;

            .resumen__precios {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
    
                .precios__table {
                    width: 100%;

                    .table__body {

                        .body__row {

                            &--title,
                            &--content {
                                font-size: 1rem;
                                padding: 10px 0;
                            }

                            &--title {
                                color: #686868;
                                text-align: left;
                                font-weight: 600;
                            }

                            &--content {
                                color: #252525;
                                text-align: right;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
    
            .resumen--boton {
                padding: 20px 40px;
                border-radius: 10px;
                background-color: #0f700d;
                margin-bottom: 20px;
                font-weight: 600;
                opacity: .7;
                color: white;
                border: 0;
                transition: $transition-4s;
    
                &:hover {
                    opacity: 1;
                }
            }
        }      
    }
}