.footer {
    height: 60px;  
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $footer-light-background;
    transition: background-color .4s ease 0s;

    body.dark & {
        background-color: $footer-dark-background;

        &__derechos .footer__derechos--text {
            color: $footer-dark-color;
        }

        &__redes .footer__redes--link {
            color: $footer-dark-color;

            &:hover,
            &:focus {
                color: $footer-dark-colorhvr;
            }
        }
    }

    &__derechos .footer__derechos--text {
        margin: 0;
        font-size: .8em;
        color: $footer-light-color;
        font-weight: 600;
    }

    &__redes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 24px;
        gap: 1vw;

        &--link {
            @include flex(row, center, center);
            width: 25px;
            height: 25px;
            text-decoration: none;
            transition: all 0.3s ease 0s;
            color: $footer-light-color;

            &:hover,
            &:focus {
                color: $footer-light-colorhvr;
            }
        }

        .switch {
            border-radius: 100vw;
            border: none;
            @include flex(row, center, center);
            padding: 0;
            position: relative;
            transition: $transition-4s;
            background-color: #ffa550;
            outline: none;
            
            span {
                @include flex(row, center, center);
                width: 30px;
                height: 30px;
                color: #fff;
                background: none;
                font-size: 16px;
            }

            &.active {
                background: #343D5B;
            }

            &.active::after {
                left: 0;
                right: 50%;
            }
    
            &::after {
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                right: 0;
                left: 50%;
                top: 0;
                border-radius: 100vw;
                background-color: #F1F1F1;
                box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
                transition: $transition-4s;
            }
        }
    }
}