&__producto {
    padding: 20px 20px;
    min-width: 58.5%;
    max-width: 1140px;
    display: flex;

    .producto__imgs {
        max-width: 43.7%;
        margin: 0;

        .imgs__imgGrande {
            max-height: 80%;
            overflow: hidden;

            &--img {
                width: 100%;
            }
        }

        .imgs__restoImgs {
            width: 100%;
            max-width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 5px;
            margin-top: 5px;

            &--img {
                max-width: 100%;
                opacity: 0.5;
                transition: all 0.4s ease 0s;

                &:hover,
                &.active {
                    opacity: 1;
                }
            }
        }
    }

    .producto__info {
        padding: 0 20px;
        width: 56.3%;
        min-width: 50%;

        .info__nav {
            display: flex;
            align-items: center;
            font-size: 12px;
            margin-bottom: 10px;
            gap: 10px;

            .nav--link {
                text-decoration: none;
                color: #777777;
                @include flex-center(row);
                gap: 5px;
                transition: all .3s ease 0s;

                &::after {
                    border-top: 1px solid currentColor;
                    border-left: 1px solid currentColor;
                    content: "";
                    width: 5px;
                    height: 5px;
                    transform: rotate(135deg);
                }
            }

            .nav--producto {
                margin: 0;
                color: #777777;
                transition: all .3s ease 0s;
            }

            .nav--link:hover,
            .nav--producto:hover {
                color: #000;
            }
        }

        .info--title {
            font-size: 26px;
        }

        .info__precio {
            display: flex;
            align-items: center;
            gap: 5px;
            margin: 10px 0;

            &--precio {
                display: inline-block;
                font-size: 16px;
                color: #000;
                font-weight: 600;
                margin: 0;

                &.descuento {
                    color: rgb(189, 189, 189);
                    text-decoration: line-through;
                }
            }

            &--iva {
                margin: 0;
                font-weight: 500;
                font-size: 16px;
                color: #000;
            }
        }

        .info--descripcion {
            margin: 20px 0;
            font-weight: 500;
            font-size: 16px;
        }

        .opciones--title {
            font-size: 23px;
            font-weight: 500;
        }

        .opciones__colores {
            display: flex;
            min-width: 30px;
            margin-bottom: 30px;
            margin: 15px auto;

            .colores__color {
                margin: 5px;
                width: 25px;
                height: 25px;
                position: relative;
                @include flex-center(row);

                .color--input::after {
                    width: 25px;
                    height: 25px;
                    border-radius: 15px;
                    top: -5px;
                    left: -5px;
                    position: relative;
                    content: '';
                    display: inline-block;
                    visibility: visible;
                    transition: $transition-4s;
                    border: 2px solid white;
                }

                &.crudo .color--input::after,
                &.beige .color--input::after {
                    border: 1px solid black;
                }

                .color--input:checked::after {
                    border: 2px solid black;
                }

                @each $color, $hexcode in $colors {
                    &.#{$color} .color--input::after {
                        background-color: $hexcode;
                    }
                }

                .color__name {
                    position: absolute;
                    z-index: 3;
                    background-color: #000;
                    color: #fff;
                    transition: $transition-4s;
                    pointer-events: none;
                    opacity: 0;
                    display: flex;
                    align-items: center;
                    padding: 2px 5px;
                    left: 0;

                    &--name {
                        margin: 0;
                        width: 100%;
                        font-size: 16px;
                    }
                }

                &:hover .color__name {
                    transform: translateY(24px);
                    opacity: 1;
                }
            }
        }

        .opciones__talles {
            display: flex;
            min-width: 30px;
            margin: 15px auto 35px;

            .talles__talle {
                background: lightgray;
                width: 25px;
                height: 25px;
                margin: 5px;
                position: relative;
                color: black;
                border-radius: 50%;
                @include flex-center(row);
                text-align: center;

                .talle--input {
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    margin: 0;

                    &:checked + label {
                        color: white;
                    }
                }

                .talle--letra {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    font-weight: 700;
                    font-size: 14px;
                    @include flex-center(row);
                }
                
                .talle__nombre {
                    position: absolute;
                    z-index: 3;
                    left: 0;
                    background-color: #000;
                    color: #fff;
                    transition: $transition-4s;
                    pointer-events: none;
                    opacity: 0;
                    display: flex;
                    align-items: center;
                    padding: 2px 5px;

                    &--nombre {
                        margin: 0;
                        width: 100%;
                        font-size: 16px;
                    }
                }

                &:hover .talle__nombre {
                    transform: translateY(24px);
                    opacity: 1;
                }
            }
        }

        .opciones__carrito {
            display: flex;
            flex-wrap: wrap;
            min-height: 50px;
            max-width: 20rem;
            margin-top: 10px;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .carrito__unidades {
                display: flex;
                align-items: center;
                width: 90px;

                &--boton {
                    @include flex-center(row);
                    width: 30px;
                    height: 30px;
                    outline: none;
                    border: 1px solid rgba(0, 0, 0, 0.15);
                    transition: all 0.3s ease 0s;
                    cursor: pointer;

                    &:hover {
                        background-color: lightgray;
                    }

                    &::after,
                    &::before {
                        content: '';
                        width: 12px;
                        height: 4px;
                        background-color: black;
                        position: absolute;
                    }

                    &.sumar::before {
                        transform: rotate(90deg);
                    }

                    &:disabled::after,
                    &:disabled::before {
                        background-color: gray;
                    }
                }

                &--input {
                    padding: 0;
                    width: 30px;
                    height: 30px;
                    border: 0;
                    border-top: 1px solid rgba(0, 0, 0, 0.15);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                    font-size: 14px;
                    font-weight: 700;
                    text-align: center;
                    outline: none;
                }
            }

            .carrito--boton {
                border: 0;
                border-radius: 10px;
                background-color: #0f700d;
                opacity: .5;
                color: white;
                transition: $transition-4s;
                font-size: 16px;
                font-weight: 600;
                padding: 0;
                cursor: pointer;
                text-align: center;
                width: 200px;
                height: 30px;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}