&__tienda {
    display: flex;
    padding: 10px 50px;
    width: 100%;
    justify-content: space-between;

    .tienda__filtros {
        width: 15%;
        min-width: 138px;
        max-height: 580px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 10px;
        border-radius: 10px;
        gap: 32px;
        position: sticky;
        top: 90px;

        .filtros--subtitle {
            width: 100%;
            margin: 10px 0;
            font-weight: 500;
            color: #686868;
            text-align: left;
        }

        .filtros--subtitle {
            font-size: 1rem;
        }

        .filtros__categoria,
        .filtros__color,
        .filtros__talle {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 100%;
        }

        .filtros__categoria .categoria__input,
        .filtros__color .color__input,
        .filtros__talle .talle__input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 31px;
            border-bottom: 1px solid #eaecee;
            padding-bottom: 5px;
            position: relative;

            .input--title {
                color: #1c1c1c;
                font-weight: 400;
            }

            .input__input {
                position: absolute;
                width: 100%;
                height: 25px;
                @include flex-center(row);

                .input--input {
                    position: absolute;
                    left: 0;
                    top: 0;
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;

                    &:checked + .input--count {
                        color: #000;
                        background: #c9c9c9;
                    }
                }

                .input--count {
                    width: 25px;
                    height: 100%;
                    text-align: center;
                    border-radius: 50%;
                    background: #eaecee;
                    color: #999;
                    @include flex-center(row);
                    transition: $transition-4s;
                    position: absolute;
                    pointer-events: none;
                    right: 0;
                }
            }
        }

        .filtros__color .color__select {
            width: 100%;
            height: 30px;
            display: block;
            border: 1px solid #c9c9c9;
            padding: 5px 10px;
            background: #f7f7f7;
            color: #999;
            transition: $transition-4s;

            &:hover {
                background-color: #e0e0e0;
                color: #000;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .tienda__productos {
        width: 80%;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;

        .productos__lista {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            gap: 15px;
            justify-content: center;
            align-items: center;

            .lista__item {
                height: 100%;
                width: 100%;
                padding: 0;
                box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.15);
                min-height: 23rem;

                .item__link {
                    text-decoration: none;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    background-color: rgb(236, 236, 236);
                    position: relative;
                    transition: $transition-4s;

                    &.descuento::after {
                        content: 'OFERTA';
                        background-color: #008000;
                        padding: 0 7px;
                        height: 30px;
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        @include flex-center(row);
                        font-size: 1em;
                        font-weight: 700;
                        color: #fff;
                        opacity: .7;
                        transition: $transition-4s;
                    }
    
                    &--img {
                        width: 100%;
                        height: 80%;

                        &.fimg {
                            transition: all 0.3s ease 0s;
                        }

                        &.simg {
                            opacity: 0;
                            position: absolute;
                            left: 0;
                            top: 0;
                            transition: $transition-4s;
                        }
                    }

                    &--title {
                        font-size: 1.2em;
                        color: #000;
                        font-weight: bold;
                    }

                    .link__precio {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        margin: 0 0 10px 0;
                        font-size: 1em;

            
                        &--precio {
                            display: inline-block;
                            font-weight: 600;
                            color: #000;
                            margin: 0;
            
                            &.descuento {
                                color: rgb(189, 189, 189);
                                text-decoration: line-through;
                            }
                        }
            
                        &--iva {
                            color: #000;
                            margin: 0;
                            font-weight: 500;
                        }
                    }

                    &:hover,
                    &:focus {
                        background-color: rgb(211, 211, 211);

                        .item__link--img.fimg {
                            opacity: 0;
                        }

                        .item__link--img.simg {
                            opacity: 1;
                        }

                        &.descuento::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .productos__bottom {
            @include flex-center(row);
            margin-top: 10px;
            width: 100%;
            min-height: 30px;
            

            .bottom--linea {
                height: 2px;
                width: 50%;
                background: #c9c9c9;
            }

            .bottom--boton {
                min-width: 130px;
                height: 100%;
                outline: none;
                border: 0;
                font-size: 14px;
                border-radius: 5px;
                display: none;
                align-items: center;
                justify-content: space-between;
                background-color: transparent;
                margin: 0 5px;
                font-weight: 600;
                font-family: 'Poppins', sans-serif;
                transition: $transition-4s;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.15);
                }

                .bx {
                    font-size: 20px;
                    margin-bottom: 3px;
                }
                
                &.show {
                    display: flex;
                }
            }
        }
    }
}