@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "vars";

@import "general";
@import "header";
@import "footer";

.main {
    @include flex-center(column);
    max-width: 100vw;
    background: $main-light-background;
    color: $main-light-color;

    body.dark & {
        background: $main-dark-background;
        color: $main-dark-color;
    }
    
    @import "index";
    @import "producto";
    @import "contacto";
    @import "tienda";
    @import "cart";
}

@import "queries";